#------------------------------------#
# Xmqdspev - Mail SMTP Configuration #
#------------------------------------#

# The host name of the SMTP mail server
mail.host=

# The port number of the SMTP mail server or the default (25) if not specified
mail.port=25

# Whether to authenticate the user using the AUTH command. Defaults to false
mail.auth=false 

# The user name to use when connecting to the SMTP mail server
mail.user=

# The password to use when connecting to the SMTP mail server
mail.password=

# Start a SSL connection. Default is false.
mail.ssl=false

# Start a TLS connection. Default is false.
mail.starttls=false

# The initial debug mode. Default is false.
mail.debug=false

# Include protocol authentication commands in the debug output. Default is false
mail.debug.auth=false 

# The return email address of the current user
mail.from=

# List of TO e-mail recipients (comma delimited)
mail.to=

# List of CC e-mail recipients (comma delimited)
mail.cc=

# List of BCC e-mail recipients (comma delimited)
mail.bcc=
